<div class="row">
  <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 mt-4">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top imageCard" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2uD5Dfi6qVmCYMiIP9t330CbGkz7WC2uveYLJGWlUs8sXZvKuEA" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Jquery</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>

  <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 mt-4">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top imageCard" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQXKVm-GfeVljVjBfOx-PL_0k-a5o3RO-2fO2fc6TwhguyeKf0b"  alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Angular</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>

  <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 mt-4">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top imageCard" src="https://cdn-images.threadless.com/threadless-media/artist_shops/shops/vue/products/195796/shirt-1490420513-abd7b25b157f3450ce8c2a09ee51c36e.png?v=3&d=eyJvbmx5X21ldGEiOiBmYWxzZSwgImZvcmNlIjogZmFsc2UsICJvcHMiOiBbWyJ0cmltIiwgW2ZhbHNlLCBmYWxzZV0sIHt9XSwgWyJyZXNpemUiLCBbXSwgeyJ3aWR0aCI6IDk5Ni4wLCAiYWxsb3dfdXAiOiBmYWxzZSwgImhlaWdodCI6IDk5Ni4wfV0sIFsiY2FudmFzX2NlbnRlcmVkIiwgWzEyMDAsIDEyMDBdLCB7ImJhY2tncm91bmQiOiAiZmZmZmZmIn1dLCBbInJlc2l6ZSIsIFs4MDBdLCB7fV0sIFsiY2FudmFzX2NlbnRlcmVkIiwgWzgwMCwgODAwLCAiI2ZmZmZmZiJdLCB7fV0sIFsiZW5jb2RlIiwgWyJqcGciLCA4NV0sIHt9XV19" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Vue</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>

  <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 mt-4">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top imageCard" src="https://cdn4.iconfinder.com/data/icons/logos-3/600/React.js_logo-512.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Rect</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 mt-4">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top imageCard" src="https://cdn-images-1.medium.com/max/1200/0*UzaG_alYU6vQ8MIt.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Vanilla JS</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 mt-4">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top imageCard" src="https://hackster.imgix.net/uploads/attachments/183867/ionic.png?auto=compress&w=900&h=675&fit=min&fm=jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Ionic</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>